<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almacén Yuyitos</title>
    <link rel="stylesheet" href="css/flexboxgrid.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="row center-xs">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
            <h1 id="titulo principal">Almacén Yuyitos</h1>
        </div>
    </div>
    <div class="row center-xs">
        <div class="col-lg-4">
            <h3>Acciones</h3>
        </div>
    </div>
    <div class="row center-xs">
        <div class="col-xs-4">
            <a  href="pages/regproveedores.html">
                <button type="button" class="btn btn-primary">Registro Proveedores</button>
            </a>
            <a href="pages/regclientes.html">
                <button type="button" class="btn btn-primary">Registro Clientes</button>
            </a>
            <a href="pages/regproductos.html">
                <button type="button" class="btn btn-primary">Registro Productos</button>
            </a>
            <a href="pages/regpagocredito.html">
                <button type="button" class="btn btn-primary">Registro Pago a Créditos</button>
            </a>
        </div>
    </div>
    <div class="row center-xs">
        <div class="col-xs-4">
            <a href="pages/regventas.html">
                <button type="button" class="btn btn-primary">Registro Venta</button>
            </a>
            <a href="pages/regpedido.html">
                <button type="button" class="btn btn-primary">Registro Orden de Pedido</button>
            </a>
            <button type="button" class="btn btn-primary">Registro Recepción</button>
            <button type="button" class="btn btn-primary">Imprimir Código</button>
            <button type="button" class="btn btn-primary">Stock</button>
        </div>
    </div>





    <!--JS SCRIPT-->
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/app.js"></script>
</body>
</html>