{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row center-xs">
    <div class="col-lg-4">
        <h3 class="txt-blanco">Acciones</h3>
    </div>
</div>
<div class="row center-xs pricuatros">
    <div class="col-xs-8">
        <a  href="{% url 'almacen:regprove' %}">
            <button type="button" class="btn btn-primary botones">Registro Proveedores</button>
        </a>
        <a href="{% url 'almacen:regclientes' %}">
            <button type="button" class="btn btn-primary botones">Registro Clientes</button>
        </a>
        <!--
        <a href="{% url 'almacen:regproductos' %}">
            <button type="button" class="btn btn-primary botones">Registro Productos</button>
        </a>
        <a href="pages/regpagocredito.html" >
            <button type="button" class="btn btn-primary botones">Registro Pago a Créditos</button>
        </a>-->
    </div>
</div>
<div class="row center-xs segcuatros">
    <div class="col-xs-8">
        <!--
        <a href="pages/regventas.html">
            <button type="button" class="btn btn-primary botones">Registro Venta</button>
        </a>
        <a href="pages/regpedido.html">
            <button type="button" class="btn btn-primary botones">Registro Orden de Pedido</button>
        </a>-->
        <a href="{% url 'almacen:regfamilia' %}  ">
            <button type="button" class="btn btn-primary botones">Registro Familia</button>
        </a>
        <!--
        <button type="button" class="btn btn-primary botones">Registro Recepción</button>
        -->
    </div>
</div>
<!--
<div class="row center-xs">
    <div class="col-xs-8">
        <button type="button" class="btn btn-primary botones">Imprimir Código</button>
        <button type="button" class="btn btn-primary botones">Stock</button>
    </div>
</div>-->
{% endblock %}