{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row center-xs">
  <div class="col-xs-6">
      <h1 class="txt-blanco">Registro de Clientes</h1>
  </div>
</div>

<div class="row center-xs">
  <div class="col-lg-4">
      <form action="{% url 'almacen:regclientes' %}" method="POST" id="formregcli">
          {% csrf_token %}
          <div class="form-group">
            <label for="rutcli">Rut Cliente</label>
            <input type="text" class="form-control" name="rutcli" id="rutcli">
          </div>
          <div class="form-group">
            <label for="nomcli">Nombre</label>
            <input type="text" class="form-control" name="nomcli" id="nomcli">
          </div>
          <div class="form-group">
            <label for="apecli">Apellido</label>
            <input type="text" class="form-control" id="apecli" name="apecli">
          </div>
          <div class="form-group">
            <label for="direcli">Dirección</label>
            <input type="text" class="form-control" id="direcli" name="direcli">
          </div>
          <div class="form-group">
            <label for="fonocli">Teléfono</label>
            <input type="text" class="form-control" id="fonocli" name="fonocli">
          </div>
          <div class="form-group">
            <label for="correocli">Correo</label>
            <input type="email" class="form-control" id="correocli" name="correocli">
          </div>
          <button type="submit" class="btn btn-primary" id="guardarcli">Guardar</button>
        </form>
        <a href="{% url 'almacen:index' %}">
          <button type="submit" class="btn btn-primary">Ir al inicio</button>
      </a>
  </div>
</div>
{% endblock %}