<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Pagos a Crédito</title>
    <link rel="stylesheet" href="../css/flexboxgrid.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <div class="row center-xs">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
            <h1 id="titulo principal">Almacén Yuyitos</h1>
        </div>
    </div>
    <div class="row center-xs">
        <div class="col-xs-6">
            <h1>Registro de Pagos a Crédito</h1>
        </div>
    </div>

    <div class="row center-xs">
        <div class="col-lg-4">
            <form action="../index.html" method="GET" id="regcredi">
                <div class="form-group">
                  <label for="rutclicredi">Rut Cliente</label>
                  <input type="text" class="form-control" name="rutclicredi" id="rutclicredi">
                </div>
                <div class="form-group">
                  <label for="boletacredi">Número de Boleta</label>
                  <input type="text" class="form-control" id="boletacredi" name="boletacredi">
                </div>
                <div class="form-group">
                  <label for="fectrancredi">Fecha de Transacción</label>
                  <input type="date" class="form-control" id="fectrancredi" name="fectrancredi">
                </div>
                <div class="form-group">
                  <label for="montocredi">Monto Compra</label>
                  <input type="text" class="form-control" id="montocredi" name="montocredi">
                </div>

                <label for="estadocredi">Estado del Crédito</label>
                <div class="row center-xs">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input type="radio" class="form-control" id="estadocredi" name="estadocredi">Cancelada
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input type="radio" class="form-control" id="estadocredi" name="estadocredi">Pendiente
                        </div>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" id="guardarprodu">Guardar</button>
            </form>
            <a href="../index.html">
                <button type="submit" class="btn btn-primary">Ir al inicio</button>
            </a>
        </div>
    </div>


    <!--JS SCRIPT-->
    <script src="../js/jquery-3.4.1.js"></script>
    <script src="../js/jquery.validate.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/app.js"></script>
</body>
</html>