{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row center-xs">
  <div class="col-xs-6">
      <h1 class="txt-blanco">Registro de Productos</h1>
  </div>
</div>

<div class="row center-xs">
  <div class="col-lg-4">
      <form action="{% url 'almacen:regproductos' %}" method="POST" id="regproductos">
          {% csrf_token %}
          <div class="form-group">
            <label for="descprodu">Descripción</label>
            <input type="text" class="form-control" name="descprodu" id="descprodu">
          </div>
          <div class="form-group">
            <label for="compraprodu">Precio Compra</label>
            <input type="text" class="form-control" id="compraprodu" name="compraprodu">
          </div>
          <div class="form-group">
            <label for="ventaprodu">Precio Venta</label>
            <input type="text" class="form-control" id="ventaprodu" name="ventaprodu">
          </div>
          <div class="form-group">
            <label for="marcaprodu">Marca Producto</label>
            <input type="text" class="form-control" id="marcaprodu" name="marcaprodu">
          </div>
          <div class="form-group">
            <label for="codfamprodu">Código Familia Producto</label>
            <input type="text" class="form-control" id="codfamprodu" name="codfamprodu">
          </div>
          <div class="form-group">
            <label for="fecprodu">Fecha Vencimiento</label>
            <small id="emailHelp" class="form-text text-muted">El formato de fecha debe ser (solo dígitos): ddmmaaaa</small>
            <input type="date" class="form-control" id="fecprodu" name="fecprodu">
          </div>
          <button type="submit" class="btn btn-primary" id="guardarprodu">Guardar</button>
        </form>
        <a href="{% url 'almacen:index' %}">
            <button type="submit" class="btn btn-primary">Ir al inicio</button>
        </a>
  </div>
</div>
{% endblock %}