{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row center-xs">
    <div class="col-xs-6">
        <h1 class="txt-blanco">Registro de Pagos a Crédito</h1>
    </div>
</div>

<div class="row center-xs">
    <div class="col-lg-4">
        <form action="../index.html" method="GET" id="regcredi">
            <div class="form-group">
              <label for="rutclicredi">Rut Cliente</label>
              <input type="text" class="form-control" name="rutclicredi" id="rutclicredi">
            </div>
            <div class="form-group">
              <label for="boletacredi">Número de Boleta</label>
              <input type="text" class="form-control" id="boletacredi" name="boletacredi">
            </div>
            <div class="form-group">
              <label for="fectrancredi">Fecha de Transacción</label>
              <input type="date" class="form-control" id="fectrancredi" name="fectrancredi">
            </div>
            <div class="form-group">
              <label for="montocredi">Monto Compra</label>
              <input type="text" class="form-control" id="montocredi" name="montocredi">
            </div>

            <label for="estadocredi">Estado del Crédito</label>
            <div class="row center-xs">
                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="radio" class="form-control" id="estadocredi" name="estadocredi">Cancelada
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="radio" class="form-control" id="estadocredi" name="estadocredi">Pendiente
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" id="guardarprodu">Guardar</button>
        </form>
        <a href="../index.html">
            <button type="submit" class="btn btn-primary">Ir al inicio</button>
        </a>
    </div>
</div>
{% endblock %}