{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row center-xs">
  <div class="col-xs-6">
      <h1 class="txt-blanco">Registro de Proveedores</h1>
  </div>
</div>

<div class="row center-xs">
  <div class="col-lg-4">
      <form action="{% url 'almacen:regprove' %}" method="POST" id="regprove">
          {% csrf_token %}
          <div class="form-group">
            <label for="nomprove">Nombre</label>
            <input type="text" class="form-control" name="nomprove" id="nomprove">
          </div>
          <div class="form-group">
            <label for="rutprove">Rut</label>
            <input type="text" class="form-control" id="rutprove" name="rutprove">
          </div>
          <div class="form-group">
            <label for="contactoprove">Correo</label>
            <input type="text" class="form-control" id="contactoprove" name="contactoprove">
          </div>
          <div class="form-group">
            <label for="fonoprove">Teléfono</label>
            <input type="text" class="form-control" id="fonoprove" name="fonoprove">
          </div>
          <div class="form-group">
            <label for="direcprove">Dirección</label>
            <input type="text" class="form-control" id="direcprove" name="direcprove">
          </div>
          <div class="form-group">
            <label for="rubroprove">Rubro</label>
            <input type="text" class="form-control" id="rubroprove" name="rubroprove">
          </div>
          <button type="submit" class="btn btn-primary" id="guardarprove">Guardar</button>
        </form>
        <a href="{% url 'almacen:index' %}">
          <button type="submit" class="btn btn-primary">Ir al inicio</button>
        </a>
  </div>
</div>
{% endblock %}